@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700;900&family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  text-align: center;
}

.navbar{
  background-color: black;
}
#hero{
  background-position: center;
  background-size: cover;
  background: linear-gradient(to right, #eb3349, #f45c43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media only screen and (max-width: 449px) {
  #linkedin{
    margin-bottom: 30px;
  }
 
  #mobilePortfolio{
    display: inline-block;
    font-family: 'Chivo', sans-serif;
  }
  .heroText{
    font-size: 40px;
    text-align: left;
    padding: 10px;
    color: #F4EDE5;
    font-family: 'Chivo', sans-serif;
  }
  .subtitle{
    font-size: 25px;
    text-align: center;
    padding: 0px;
    color:#105C99 ;
    font-family: 'Inconsolata', monospace;
  }
  #iconBank{
    display: none;
  }
  #modal{
    max-height: 60px;
    max-width: 70px
  }
  #modalIMG{
    max-height: 60px;
  }
  .carouselItem{
    height: 350px;
    width: 100%
   
  }
  .carouselText{
    font-size: 8px;
  }
  .carouselImage{
    max-height: 100px;
  }
  #contact{
    font-size: 30px;
    font-family: 'Chivo', sans-serif;
    text-align: center;

  }
  .balloon{
    display: none;
  }
  .skillsText{
    text-align: left;
    font-family: 'Chivo', sans-serif;
    color: "black";
    font-size: 12px;
  }
  .caption{
    display: none; }

  .contactIcon{
      max-height: 50px;
      margin: 2px;
    }
    #skillsHead{
      text-align: center;
      font-family: 'Pacifico', cursive;
      color: "black";
      font-size: 50px; 
      text-align: center;
    }
  
}
@media only screen and (max-width: 800px) and (min-width: 450px) {
  #portfolioCarousel{
    display: inline-block;
  }
  #mobilePortfolio{
    display: none;
  }
  .heroText{
    font-size: 70px;
    text-align: left;
    padding: 10px;
    color: #F4EDE5;
    font-family: 'Chivo', sans-serif;
  }
  #iconBank{
    display: none;
  }
  #modal{
    max-height: 275px;
    max-width: 400px
  }
  #modalIMG{
    max-height: 200px;
  }
  .carouselItem{
    max-height: 400px;
  }
  
  .carouselImage{
    max-height: 200px;
  }
  #contact{
    font-size: 70px;
    font-family: 'Chivo', sans-serif;
    margin-top: 40px;
    text-align: center;

  }
  .subtitle{
    text-align: center;
    font-size: 60px;
    padding: 0px;
    color:#105C99 ;
    font-family: 'Inconsolata', monospace;
  }
  .carouselItem{
    max-height: 600px;
    min-height: 450px;
  }
  .carouselText{
    font-size: 9px;
  }
 .caption{
    display: none; }
  .carouselImage{
    max-height: 300px;
    border: solid black 2px;
  }
  .skillsText{
    text-align: left;
    font-family: 'Chivo', sans-serif;
    color: "black";
    font-size: 17px;
  }
  .contactIcon{
    max-height: 70px;
    margin: 5px;
  }
  #skillsHead{
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: "black";
    font-size: 70px; 
    text-align: center;
  }
 
}
@media only screen and (min-width: 800px) {
  #skillsHead{
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: "black";
    font-size: 100px; 
    text-align: center;
  }
  .heroText{
    font-size: 180px;
    text-align: left;
    padding: 10px;
    color: #F4EDE5;
    font-family: 'Chivo', sans-serif;
  }
  .subtitle{
    text-align: center;
    font-size: 85px;
    padding: 0px;
    color:#105C99 ;
    font-family: 'Inconsolata', monospace;
  }
  .carouselItem{
    max-height: 1000px;
    min-height: 500px;
  }
  .carouselText{
    font-size: 15px;
  }
  .carouselImage{
    max-height: 300px;
  }
  #portfolioCarousel{
    display: inline-block;
  }
  #mobilePortfolio{
    display: none;
  }
  .contactList{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .techIcon{
    max-height: 50px;
    margin: 5px;
  }
  .skillsText{
    text-align: left;
    font-family: 'Chivo', sans-serif;
    color: "black";
    font-size: 19px;
  }
  #contact{
  font-family: 'Chivo', sans-serif;
  font-size: 100px;
  margin-top: 130px;

}
.contactIcon{
  max-height: 100px;
  margin: 7px;
}
}



#word1{
  text-align: right;
  padding-right: 70px;
  ;
}
#word2{
  padding-left: 70px;
}

.navbar{
  color: #105C99 ;
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
}

.carouselCaption{
  color: black;
}
#carousel1{
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pd22-010001-eye.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f16c79fdff6a3d3442d0e5039d2e0097");
  background-position: center;
  background-size: cover;
  color: black;
}
#modal{
  max-height: 500px;
  max-width: 650px
}
#modalIMG{
  max-height: 400px;
}






#contactIMG{
  max-height: 500px;
}
.balloon{
animation: float 6s ease-in-out infinite;}

.spanSkills{
  color: #e25822;
}

.Blazing {
	text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
	0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		3px -5px 5px yellow,
		-4px -10px 10px yellow,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}